/* css styles */
body{
  padding: 10px;
}
#container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.linksContainer {
  width: 33%;
  margin: 10px;
}
.btn.btn_quarto{
  height: 80px;
  width: 100%;
  background-color: #2c3e51;
  font-size: 20px;
  color: #fff;
}
.level3{
  border: 4px solid #2c3e51;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
}
h3.anchored{
  background-color: #2c3e51;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}